{
  "name": "{{project_name}}",
  "description": "{{project_description}}",
  "keywords": [],
  "formation": {
    "web": {
      "quantity": 1,
      "size": "basic"
    }
  },
  "environments": {
    "review": {
      "addons": []
    }
  },
  "healthchecks": {
    "web": [
      {
        "type": "startup",
        "name": "web check",
        "description": "Checking if web server is up",
        "path": "/health",
        "attempts": 3,
        "interval": 10,
        "timeout": 5
      }
    ]
  },
  "cron": [
  ],
  "predeploy": {
    "sample": "echo 'This runs before deployment'"
  },
  "dokku": {
    "apt-packages": []
  }
}
